html,
body {
	background-color: #111111;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #fff;
}

.game-card-image {
	min-height: 220px;
	object-fit: cover;
}

.card {
	border: none !important;
}
